/Android/TableLayoutTest/.idea
/Android/TextViewTest/import-summary.txt
/Android/TextViewTest/local.properties
/Android/TextViewTest/settings.gradle
/Android/TextViewTest/TextViewTest.iml
/Android/TextViewTest/.gradle
/Android/TextViewTest/.idea
/Android/TextViewTest/gradle
/Android/TextViewTest/build.gradle
/Android/TextViewTest/gradlew
/Android/TextViewTest/gradlew.bat
/Android/TextViewTest/app/build
/Android/TableLayoutTest/app/build
